@use '../../../utils' as *;
/*----------------------------------------*/
/*   3.5 Dark Style
/*----------------------------------------*/

.agntix-dark{
    & .cst-section-title{
        color: var(--tp-common-white);
    }
    & .cst-about-text{
        & p{
            color: rgba(255, 255, 255, 0.6);
            & span {
                color: var(--tp-common-white);
            }
        }
    }
    & .cst-about-list ul li{
        color: var(--tp-common-white);
    }
    & .cst-btn.black-t{
        color: var(--tp-common-white);
        border-color: var(--tp-common-white);
        &:hover{
            color: var(--tp-common-black);
            border-color: var(--tp-common-green-1);
        }
    }
    & .cst-feature-top{
        border-color: rgba($color: #fff, $alpha: 0.1);
    }
    & .cst-feature-item-title{
        color: var(--tp-common-white);
    }
    & .cst-feature-item-content p{
        color: rgba(255, 255, 255, 0.6);
    }
    & .cst-feature-text{
        color: rgba(255, 255, 255, 0.6);
        & a{
            color: var(--tp-common-white);
            &::before{
                background-color: var(--tp-common-white);
            }
        }
    }
    & .cst-section-subtitle{
        color: var(--tp-common-white);
    }
    & .cst-border-b{
        border-color: #1F1E24;
    }
    & .cst-testimonial-item-text p{
        color: var(--tp-common-white);
    }
    & .cst-testimonial-item-icon span{
        filter: invert(1);
    }
    & .cst-testimonial-item-user-content {
        & h4{
            color: var(--tp-common-white);
        }
        & span{
            color: rgba(255, 255, 255, 0.6);
        }
    }
    & .cst-testimonial-slider-wrapper {
        & .dgm-testimonial-dot .swiper-pagination-bullet{
            background-color: #0E0F11;
        }
    }
    & .cst-cta-content{
        background-color: #1A1B1E;
    }

    ////////////////////////
    ///// update two
    ///////////////////////
    & .tp-header-cnt-left{
        background-color: #1b1b1d;
    }
    & .tp-header-cnt-wrap {
        & .tp-header-logo-wrap p{
            color: rgba(255, 255, 255, 0.6);
        }
    }
    & .tp-header-cnt-bar-wrap {
        & .tp-header-bar{
            color: var(--tp-common-white);
            border-color: rgba(255, 255, 255, 0.08);
        }
        & .tp-header-8-lang{
            border-color: rgba(255, 255, 255, 0.08);
        }
    }
    & .tp-btn-black-square.cnt-btn-style{
        border-color: transparent;
        color: var(--tp-common-black);
        background-color: var(--tp-common-white);
        & i{
            color: var(--tp-common-white);
        }
    }
    & .cnt-hero-title{
        color: var(--tp-common-white);
    }
    & .cnt-hero-list-wrap{
        background-color: #1b1b1d;
    }
    & .cnt-hero-list-num{
        color: var(--tp-common-white);
    }
    & .cnt-hero-list:not(:last-of-type){
        border-color: rgba(255, 255, 255, 0.08);
    }
    & .cnt-hero-list-name{
        color: rgba(255, 255, 255, 0.6);
    }
    & .cnt-hero-list-icon span {
        filter: invert(1);
    }
    & .cnt-about-style .ar-about-shape{
        filter: invert(1);
    }
    & .cnt-section-subtitle{
        border-color: rgba(255, 255, 255, 0.2);
    }
    & .cnt-portfolio-heading p{
        color: rgba(255, 255, 255, 0.6);
    }
    & .cnt-plan-box{
        border-color: rgba(255, 255, 255, 0.08);
    }
    & .cnt-plan-item-title{
        color: var(--tp-common-white);
        &::before{
            background-color: var(--tp-common-white);
        }
    }
    & .cnt-plan-item p{
        color: rgba(255, 255, 255, 0.6);
    }
    & .cnt-plan-thumb{
        & img{
            filter: invert(1);
        }
    }
    & .cnt-team-item-title{
        color: var(--tp-common-white);
    }
    & .cnt-team-item-content p{
        color: rgba(255, 255, 255, 0.6);
    }
    & .cnt-team-item-social a span{
        color: var(--tp-common-white);
        border-color: rgba(255, 255, 255, 0.08);
    }
    & .cnt-blog-item-btn {
        & .tp-btn-black-square.cnt-btn-style.btn-transparent{
            color: var(--tp-common-black);
        }
    }
    & .cnt-blog-item-box {
        background-color: #1b1b1d;
    }
    & .cnt-blog-item-2-user-title{
        color: var(--tp-common-white);
    }
    & .cnt-blog-item-2-user-content p{
        color: rgba(255, 255, 255, 0.6);
    }
    & .cnt-blog-item-2-title{
        color: var(--tp-common-white);
    }
    & .cnt-blog-item-2-content p{
        color: rgba(255, 255, 255, 0.6);
    }
    & .cnt-hero-shape{
        filter: invert(1);
    }
}

